@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 205, 215, 226;
  --background-end-rgb: 205, 215, 226;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

.dark {
  --background-start-rgb: 5, 8, 22;
  --background-end-rgb: 5, 8, 22;
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  background-attachment: local;
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    transition: background-color 0.3s ease;
    color-scheme: light dark;
  }
  body {
    @apply text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .heading {
    @apply text-center text-5xl font-bold dark:text-slate-300 md:text-6xl;
  }
  .btn-ping {
    @apply absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75;
  }

  .timeline {
    @apply absolute -top-10 z-30 h-[110%] w-14 bg-black md:w-28;
  }

  .btn-ping_dot {
    @apply relative inline-flex h-3 w-3 rounded-full bg-green-500;
  }
  .theme-bg-primary {
    background: rgb(var(--background-start-rgb));
  }
  .theme-bg-gradient {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  .hero-dark-bg {
    background-color: #050816;
    background-image: url("/herobg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-light-bg {
    background-color: #cdd7e2;
    background-image: url("/herobg-light.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 820px) {
  .hero-dark-bg,
  .hero-light-bg {
    background-size: 100% 1080px;
    min-height: 1080px;
    max-height: 1080px;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media (max-width: 820px) {
  .hero-dark-bg,
  .hero-light-bg {
    background-size: contain;
    background-position: top center;
  }
}
